
.ibagem{
    border-color: black;
    border-width: 5px;
    border-style: inset;
    width: 490px;
    height: 400px;
    padding: 10px;
    background-color: pink;
    float: left;
    margin: 10px;
}

.ibagem img {
    width: 450px; 
    max-height: 350px;
}


ul li{
display:flex;
}
.delete{
    background: transparent;
    border: 0;
}